<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Score Tracker - Keep score of a game</title>

    <link rel="stylesheet" type="text/css" href="../../Content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../../Content/font-awesome.min.css" />

    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>

    <!-- Fix for bootstrap uibmodal opacity issue: https://github.com/angular-ui/bootstrap/issues/6408 -->
    <style type="text/css">
        .modal.fade.in {
            opacity: 1;
        }

        .modal.in .modal-dialog {
            transform: translate(0, 0);
        }

        .modal-backdrop.in {
            opacity: 0.5;
        }
    </style>
</head>

<body>

    <div class="container-fluid" style="padding-top:25px;">
        <div ng-app="scoreTrackerApp" ng-controller="scoreTrackerController">
            <div class="row no-gutters">

                <div class="col-12">

                    <div class="row">
                        <div class="col">
                            <h3> <label class="">Game: </label><span> {{currentGame.Name}}</span></h3>
                        </div>
                        <div class="col"><button class="btn btn-primary" ng-click="createNewGame()">New Game</button></div>
                        <div class="col"><button class="btn btn-primary" ng-disabled="gameList.length < 1" ng-click="manageGames()">Manage Games</button></div>
                    </div>
                    <div ng-if="isGameLoaded()">
                        <hr />
                        <div class="table-responsive">
                            <table class="table table-sm table-striped">
                                <thead>
                                    <tr>
                                        <th>Player</th>
                                        <th class="text-center">Current Points</th>
                                        <th class="text-center">Total Points</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="player in currentGame.Players">
                                        <td class="">{{player.Name}}</td>
                                        <td class="justify-content-center form-inline"><div class="form-group"><input class="form-control" type="number" placeholder="0" ng-model="player.CurrentScore" /></div></td>
                                        <td class="text-center">{{getTotalPointsForPlayer(player.Id)}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="row form-group">
                            <div class="col-sm-2"><button class="btn btn-primary" ng-click="saveCurrentPoints()">Save Points</button></div>
                            <div class="col-sm-2"><button class="btn btn-primary" ng-click="addPlayer()">Add Player(s)</button></div>
                            <div class="col-sm-2"><button class="btn btn-primary" ng-click="clearAllPoints()">Reset Game</button></div>


                        </div>
                        <hr />
                        <h3>Rounds({{getNumberOfRounds()}})</h3>

                        <div class="row">
                            <div class="col-sm-12">

                                <div class="row">
                                    <div class="col" ng-repeat="player in currentGame.Players">
                                        <h4 class="text-center">{{player.Name}}</h4>
                                        <div class="text-center" ng-repeat="round in currentGame.Rounds | orderBy : round.Id track by round.Id">
                                            <span>{{getPlayerRoundScore(player.Id, round.Id)}}</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--New Game Modal-->
            <script type="text/ng-template" id="newGameModal.html">
                <div class="modal-header">
                    <h4 class="modal-title">New Game</h4>
                    <button type="button" class="close" ng-click="$close()"><span class="fa fa-times"></span></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="newGameName">Game Name: </label>
                        <input class="form-control" required type="text" id="newGameName" ng-model="newGame.Name" />
                    </div>

                    <div class="form-group" ng-repeat="player in newGame.Players">
                        <label>Player: <input class="form-control" type="text" required min="2" ng-model="player.Name" /></label> <span class="fa fa-times ml-2 text-danger" ng-click="removePlayer(player, newGame)"></span>

                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary col-sm-offset-6" ng-click="createNewPlayer(newGame, newPlayerName)">Add Player</button>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-disabled="newGameIsInvalid()" ng-click="saveNewGame()">Save</button>
                    <button type="button" class="btn btn-primary" ng-click="$close()">Cancel</button>
                </div>
            </script>
            <!--Add Player Modal-->
            <script type="text/ng-template" id="addPlayerModal.html">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Player: <input class="form-control" type="text" required min="2" id="newPlayerName" ng-model="newPlayerName" /></label>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-disabled="invalidPlayerName(newPlayerName)" ng-click="createNewPlayer(currentGame, newPlayerName, true)">Save</button>
                    <button type="button" class="btn btn-primary" ng-click="$close()">Cancel</button>
                </div>

            </script>
            <!--Manage Games Modal-->
            <script type="text/ng-template" id="manageGameModal.html">
                <div class="modal-body">
                    <h3>Games</h3>
                    <div class="row mb-2" ng-repeat="game in gameList">
                        <div class="col">{{game.Name}}</div>
                        <div class="col"><button type="button" class="btn btn-primary btn-sm" ng-click="loadGame(game)">Load</button></div>
                        <div class="col"><button type="button" class="btn btn-primary btn-sm" ng-click="deleteGame(game)">Delete</button></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="$close()">Cancel</button>
                </div>

            </script>
            <!--confirm Modal-->
            <script type="text/ng-template" id="confirmModal.html">
                <div class="modal-body">
                    <h4>{{confirmMessage}}</h4>                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="$close()">Yes</button>
                    <button type="button" class="btn btn-primary" ng-click="$dismiss()">No</button>
                </div>

            </script>

        </div>
    </div>

    <script src="Scripts/ScoreTracker/ScoreTracker.js"></script>
</body>
</html>